In [1]:
import gdown
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
#url = https://drive.google.com/drive/folders/1k0k3d-WO9kYqp0q9QG1WcmLn6mWWs0Zd
#output_path = 'train.csv'
#gdown.download(url, output_path, quiet=False, fuzzy=True)

Cоздаём три датасета по исходным файлам и упорядочиваем значения в них по отдельным столбцам

In [2]:
# Чтение CSV файла
df_l = pd.read_csv('C:/Users/soyan/YandexDisk/Моё/МФТИ/Python/HomeWork/lectures.csv', sep='\t')

In [3]:
# Разделение столбца на новые столбцы
df_split = df_l['lecture_id,tag,part,type_of'].str.split(',', expand=True)

# Задать новые имена для столбцов
df_split.columns = ['lecture_id', 'tag', 'part', 'type_of']

# Объединение с исходным DataFrame
df_l = df_split

In [4]:
df_l

    lecture_id  tag part           type_of
0           89  159    5           concept
1          100   70    1           concept
2          185   45    6           concept
3          192   79    5  solving question
4          317  156    5  solving question
..         ...  ...  ...               ...
413      32535    8    5  solving question
414      32570  113    3  solving question
415      32604   24    6           concept
416      32625  142    2           concept
417      32736   82    3           concept

[418 rows x 4 columns]

In [5]:
df_q = pd.read_csv('C:/Users/soyan/YandexDisk/Моё/МФТИ/Python/HomeWork/questions.csv', sep='\t')

In [6]:
# Разделение столбца на новые столбцы
df_split_q = df_q['question_id,bundle_id,correct_answer,part,tags'].str.split(',', expand=True)

# Задать новые имена для столбцов
df_split_q.columns = ['question_id', 'bundle_id','correct_answer', 'part', 'tags']

# Объединение с исходным DataFrame
df_q = df_split_q

In [7]:
df_q

      question_id bundle_id correct_answer part            tags
0               0         0              0    1   51 131 162 38
1               1         1              1    1       131 36 81
2               2         2              0    1  131 101 162 92
3               3         3              0    1  131 149 162 29
4               4         4              3    1    131 5 162 38
...           ...       ...            ...  ...             ...
13518       13518     13518              3    5              14
13519       13519     13519              3    5               8
13520       13520     13520              2    5              73
13521       13521     13521              0    5             125
13522       13522     13522              3    5              55

[13523 rows x 5 columns]

Третий датасет достаточно большой, более 5 гб, поэтому нужно упростить работу с ним, чтобы не перегружать память и не тратить на это время

Взял из склерна трейн тест сплит, разорвал первоначальный датасет на X y где у- таргет (ответ верный), сплитанул по стандартной процедуре с указанием объема трейна 0.3 и стратификацией по у- что бы сохранить пропорции классов первичного даьасета, потом взял и склеил обратно X_train и y_train, сохранил в новый файл, все закрыл и перезагрузил чтобы кэш сбросить и работал уже с новым. Такой подход сохранил первоначальные статистики (проверил ибо изначально попыхтев смог брутфорсить до определенного момента)

твой дф = train
X = train.drop(columns=[“target”], axis=1)
y= train[“target”]

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.3, stratify=y)

Потом
new_train = pd.concat([X_train, y_train], axis=1)

Надеюсь не налажал с синтаксисом

Потом сохраняешь файл и коннектишься уже к нему

In [8]:
# 1. Загружаем датасет
df_t = pd.read_csv('C:/Users/soyan/YandexDisk/Моё/МФТИ/Python/HomeWork/train.csv', nrows=10000000, sep='\t')

In [9]:
df_t

        row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0                                   0,0,115,5692,0,1,3,1,,
1                   1,56943,115,5716,0,2,2,1,37000.0,False
2                   2,118363,115,128,0,0,0,1,55000.0,False
3                  3,131167,115,7860,0,3,0,1,19000.0,False
4                  4,137965,115,7922,0,4,1,1,11000.0,False
...                                                    ...
9999995  9999995,646228695,216747867,8805,0,410,1,1,230...
9999996  9999996,646321314,216747867,5708,0,411,0,0,130...
9999997  9999997,646393443,216747867,5434,0,412,0,0,660...
9999998  9999998,646445632,216747867,6429,0,413,3,1,370...
9999999  9999999,690225760,216747867,9010,0,414,2,1,160...

[10000000 rows x 1 columns]

In [10]:
# Разделение столбца на новые столбцы
df_split_t = df_t['row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation'].str.split(',', expand=True)

# Задать новые имена для столбцов
df_split_t.columns = ['row_id', 
                      'timestamp',
                      'user_id', 
                      'content_id', 
                      'content_type_id', 
                      'task_container_id', 
                      'user_answer', 
                      'answered_correctly', 
                      'prior_question_elapsed_time',
                      'prior_question_had_explanation']

# Объединение с исходным DataFrame
df_t = df_split_t

In [11]:
# Проверяем обновленный датасет
df_t

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,,
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
9999995,9999995,646228695,216747867,8805,0,410,1,1,23000.0,True
9999996,9999996,646321314,216747867,5708,0,411,0,0,13000.0,True
9999997,9999997,646393443,216747867,5434,0,412,0,0,66000.0,True
9999998,9999998,646445632,216747867,6429,0,413,3,1,37000.0,True
9999999,9999999,690225760,216747867,9010,0,414,2,1,16000.0,True